* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.login-form-tittle{
    font-weight: 700;
    font-size: 24px;
    color: #373745;

    margin: 20px;
}

.login-form-input{
    box-sizing:content-box ;
    width: 20vw;
    padding: 12px 20px;
    margin-bottom: 12px;

    font-size: 16px;
    color: #B1B1B7;

    border: 1px solid #DCDCDF;
    border-radius: 12px;
}

.login-form-input.password{
    margin-bottom: 20px;
}

.login-form-btn{
    background: rgba(96, 194, 170, 0.3);
    border-radius: 12px;
    width: 20vw;
    padding: 12px 20px;
    box-sizing:content-box ;
    border: 0px;
    
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}